<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-index.css">
    <title>NZA Law Firm</title>
</head>
<body>
    <!--Navbar-->
    <div class="grid-wrapper">
        <!--Logo and Header Content-->
        <div class="logo">
        </div>
        <div class="header">
            <div class="image-header">
                <img src="https://via.placeholder.com/400x125" alt="placeholer heading">
            </div>
            <div class="topnav">
                <ul>
                    <li><a href="./who-we-are.html">WHO WE ARE</a></li>
                    <li><a href="./what-we-do.html">WHAT WE DO</a></li>
                    <li><a href="{{ url_for('register') }}">REGISTER</a></li>
                    <li><a href="{{ url_for('login') }}">LOG IN</a></li>
                    <li id="contactus"><a href="{{ url_for('createnote') }}">CREATE NOTE</a></li>
                </ul>
            </div>
        </div>

        <div class="cn">
            <!--Central Home Image and Text-->
        {% block content %}
        
        {% endblock content %}   

        <!--Container for the Footer-->
        <div class="footer">
            <div class="footnav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li>-</li>
                    <li><a href="who-we-are.html">WHO WE ARE</a></li>
                    <li>-</li>
                    <li><a href="what-we-do.html">WHAT WE DO</a></li>
                    <li>-</li>
                    <li><a href="#">NEWS & EVENTS</a></li>
                    <li>-</li>
                    <li><a href="#">WHERE WE WORK</a></li>
                    <li>-</li>
                    <li><a href="#">CONTACT></a>
                </ul>
                <p class="copyright">&copy;2009 Nielsen, Zehe & Antas, P.C. // Website Design by CodingTemple July Cohort 2020</p>
            </div>
        </div>
    </div>
    </div>
</body>
</html>