<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles-whoweare.css">
    <title>Who We Are</title>
</head>
<body>
   <!--Grid Starting Point-->
    <div class="grid-wrapper">
        
        <!--Header-->
        <div class="header">
            <div class="image-header">
                <img src="https://via.placeholder.com/400x125" alt="placeholer heading">
            </div>

            <div class="topnav">
                <ul>
                    <li><a href="./who-we-are.html">WHO WE ARE</a></li>
                    <li><a href="./what-we-do.html">WHAT WE DO</a></li>
                    <li><a href="#">NEWS & EVENTS</a></li>
                    <li><a href="#">WHERE WE WORK</a></li>
                    <li id="contactus"><a href="#">CONTACT US</a></li>
                </ul>  
            </div> 
            </div>


        <div class="right"></div>
        
        <!--Main Body -->
        <div class="middlepics">
            <div class="who-we-are">
                <!--Left Column-->
                <h3>WHO WE ARE</h3>
                <p class = "line">________________</p>
                <ul>
                    <li>Welcome</li>
                    <li>Attorneys</li>
                    <li>Staff</li>
                    <li>Reputation</li>
                    <li>History</li>
                </ul>
                <img class="logo-img" src="https://via.placeholder.com/200x140" alt="place holder logo image">
                <h6>Where We Work</h6>          
                <p>Find out more about our work coverage area.</p>  
            </div>

            <!--Right Columnn-->
            <div class="info-text">
                <p>Who we are? That is one of the most important questions a prospective client can ask us.
                 Our answer - one of the most respected law firms in the county that cares about your case, your business, and solving
                 your problem. We invite you to get to know our attourneys better and understand the depth of experience and talent
                 we have in the links below.</p>
                <div class="pictures">
                    <img class="inline-pics" src="https://via.placeholder.com/370X130" alt="Nameplate">
                    <img class="inline-pics2" src="https://via.placeholder.com/370X130" alt="Boardroom Table">              
                    <img class="inline-pics" src="https://via.placeholder.com/370X130" alt="Waiting Area">
                    <img class="inline-pics2" src="https://via.placeholder.com/370X130" alt="Skyscraper">                    
                    <img class="inline-pics" src="https://via.placeholder.com/370X130" alt= "Books">
                </div>                
            </div>
        </div>
        <div class="blank"></div>

        <!--Footer-->
        <div class= "footer">
            <div class="footnav">                        
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li>-</li>
                    <li><a href="who-we-are.html">WHO WE ARE</a></li>
                    <li>-</li>
                    <li><a href="what-we-do.html">WHAT WE DO</a></li>
                    <li>-</li>
                    <li><a href="#">NEWS & EVENTS</a></li>
                    <li>-</li>
                    <li><a href="#">WHERE WE WORK</a></li>
                    <li>-</li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
                <p class="copyright">&copy;2009 Nielsen, Zehe & Antas, P.C. // Website Design by CodingTemple July Cohort 2020</p>
            </div>  
        </div>        
    </div>    
</body>
</html>